input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    margin-left: 30px;
    
}

label::before {
    position: absolute;
    content: "";
    font-family: 'fontawesome';
    font-size: 15px;
    border: 2px solid black;
    margin-left: -25px;
}

label::after {
    position: absolute;
    content: "\f00c";
    font-family: 'fontawesome';
    font-size: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    margin-left: 25px;  
}